@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
body{
  /* background-color: #e9e6d4; */
  background-color: aliceblue;
  min-height: 100dvh;
}

/* @media (prefers-color-scheme:dark){
  *{
    background-color: black;
    color: white;
  }
} */

.home {
  position: relative;
  cursor: pointer;
  transform: 0.5s;
}

.home a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #6eb43f;
  top: 75%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.home a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.services:hover .submenu {
  display: block;
}

.sub-item {
  @apply border border-neutral-100 bg-neutral-100 rounded-md hover:border-[#6eb43f] hover:bg-neutral-200;
}

.sub-link {
  @apply flex items-center gap-3 p-3 w-full;
}

.sub-item:hover .sub-link i{
  color: #6eb43f;
}


.footer-icons{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
}

details {
  border: 1px solid rgba(213, 213, 213, 0.7);
  margin-bottom: 8px;
  cursor: pointer;
}
summary {
  list-style: none;
}

summary::after {
  content: "+";
  font-size: 34px;
  margin-left: auto;
  transition: content 0.3s;
}

details[open] summary::after {
  content: "\00D7";
}

details[open] summary .icon {
  content: "\00D7";
}
